extends ribbon

block content
    h1.title Companies !
    .table
        table   
            thead
                tr
                    th Name
                    th Address
                    th Speciality
                    th
            tbody        
                each company in list
                    tr
                        td #{company.cname}
                        td #{company.address}
                        td #{company.speciality}
                        td 
                            a(href='/deletecompany/'+company._id) Delete
                            br
                            a(href='/editcompany/'+company._id) Edit
    a.add(href='/addcompany') Create new company
