extends ribbon

block content
    h2 #{contact.name} #{contact.lastName}
    h1.title Projects
    //- .table
    //-     table   
    //-         thead
    //-             tr
    //-                 th Project
    //-         tbody
    //-             if (list != null)
    //-                 each project in list
    //-                     tr
    //-                         td {project.name}
    a.add(href='/assignproject/' + contact._id) Assign new project