extends ribbon

block content
    .form_box
        h2.form_header Edit project
        form.form(action='/updateproject/' +project._id method="POST")
            .box
                label.form_label Name
                input.form_input(placeholder="Project name" type="text" name="name" value=project ? project.name : '')
            .box
                label.form_label Type
                input.form_input(placeholder="Web service" type="text" name="type" value=project ? project.type : '')
            .box
                label.form_label Value
                input.form_input(placeholder="$$$$" type="number" name="value" value=project ? project.value : '')
            .box
                label.form_label Due Date
                input.form_input(placeholder="01.01.2020" type="date" name="date" value=project ? project.date : '')
            .box
                button.form_submit Save changes
            br
            a.form_signup(href="/projects") Go back to list.

    