extends ribbon

block content
    .form_box
        h2.form_header Edit project
        form.form(action="/addproject/" +project._id} method="POST")
            .box
                label.form_label Name
                input.form_input(placeholder="Jan" type="text" name="name" value=contact ? contact.name : '')
            .box
                label.form_label Last name
                input.form_input(placeholder="Kowalski" type="text" name="lastName" value=contact ? contact.lastName : '')
            .box
                label.form_label Email
                input.form_input(placeholder="jan.kowalski@gmail.com" type="text" name="email" value=contact ? contact.email : '')
            .box
                label.form_label Phone
                input.form_input(placeholder="555 666 777" type="text" name="phone" value=contact ? contact.phone : '')
            .box
                button.form_submit Save changes
            br
            a.form_signup(href="/contacts") Go back to list.

    