<!DOCTYPE html>
html(lang="en")
    headaz
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic")
        title TIN-PROJEKT
    body
        .ribbon 
            a(href='/') Home
            a(href='/about') About
            a(href='/signin') Sign in
            a(href='/signup') Sign up
        h1 This is my project for TIN
        