extends ribbon

block content
    h1.title Projects
    .table
        table   
            thead
                tr
                    th Name
                    th Value
                    th Due date
                    th Type
                    th
            tbody
                each project in list
                    tr
                        td #{project.name}
                        td #{project.value}
                        td #{project.date}
                        td #{project.type}
                        td 
                            a(href='/deleteproject/'+project._id) Delete
                            br
                            a(href='/editproject/'+project._id) Edit
    a.add(href='/addproject') Create new project


        