<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic")
        title Document
    body
        .ribbon 
            a(href='/') Home
            a(href='/about') About
            a(href='/signin') Sign in
            a(href='/signup') Sign up
        .form_content
            h2.form_header Signing in...
            form.form(action="/signin" method="POST")
                .form_box
                    label.form_label Email
                    input.lightbox__input(placeholder="jan.kowalski@gmail.com" type="text" name="email")
                .form_box
                    label.form_label Password
                    input.lightbox__input(placeholder="*********" type="password" name="password")
                .form_box
                    button.btn.btn--primary Sign in