extends ribbon

block content
    .form_box
        h2.form_header Signing in...
        form.form(action="/signin" method="POST")
            .box
                label.form_label Email
                input.form_input(placeholder="jan.kowalski@gmail.com" type="text" name="email")
            .box
                label.form_label Password
                input.form_input(placeholder="*********" type="password" name="password")
            .box
                button.form_submit Sign in
            br
            a.form_signin(href="/signup") Don't have an account ? Sing up !

