body
{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: whitesmoke;

}

h1.about,
h3.about,
h4.about,
h1.title
{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu,
.ribbon 
{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    background-color: lightgray;
    padding-top: 0;
    padding-bottom: 0;
}

.menu a,
.ribbon a 
{
    background-color: lightgray;
    color: black;
    padding: 8px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.menu a:hover,
.ribbon a:hover 
{
   background-color: darkgray;
}

.form_box
{
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
    background: lightgray;
}

.form_box .form_header
{
    background: #d14343;
	padding: 20px 0;
	font-size: 140%;
    font-weight: 300;
	text-align: center;  
	color: white;
    margin: -16px -16px 16px -16px;
}

.form_input
{
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid darkgray;
    padding: 3%;
    font: Montserrat, sans-serif;
}

.form_submit
{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.form_signin
{
    padding-right: 20px;
    text-decoration-line: none;
}

.form_signup
{
    padding-right: 20px;
    text-decoration: none;
}

.form_error
{
    color: red;
}

.table 
{
    display: flex;
    justify-content: center;
}

.table table
{
    background: darkgray;
    width: 100%;
}

a.add{
    font-size: 30px;
    border: solid rebeccapurple;
    border-radius: 5px;
    text-decoration: none;
    background: #fff;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
}

td
{
    text-align: center;
}

td, th
{
    border: 1px solid #ddd;
    padding: 8px;
}

td a
{
    text-decoration: none;
}

tr:hover {background-color: #ddd;}

.propbox
{
    display: flex;
    flex-direction: row; 
    width: 300px;
    justify-content: space-between;
    border: solid #30C29E;
    margin: 5px 0 0 0;
}